{% extends 'FirstApp/home.html' %}

{% block content %}
<br>
<br>
<h1>Acerca de Mi</h1>
<br>
<br>
<p>
    Nací el 07 de diciembre de 1975 en Lanús - Pcia. de Bs. As. - Argentina, formandome como Contador Publico en la Universidad JFK. <br> 
    Me desempeñe principalmente a nivel laboral, en areas de planificación presupuestaria y costos. Ocupado posteriormente la posición de Subgerente de Administracion de RRHH entre los años 2018 y 2022. <br>
    Actualmente integro en la actividad de Seguridad de la Información la cual tiene como misión la implementación de medidas de protección de datos. No obstante sigo participando en la revisión de soluciones de RRHH y presupuesto.
</p>
<br>
<br>
{% endblock %}